.stocks{
    padding-top: 75px;
    padding-bottom: 100px;
}

.stocks__inner{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 150px; */
}

.stocks__title{
    font-size: 80px;
    font-weight: 400;
    max-width: 300px;
}

.stocks__item{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

.stocks__item-text{
    max-width: 600px;
    font-size: 20px;
    line-height: 25px;
}

.stocks__item-title{
    font-size: 30px;
    font-weight: 400;
}

.stocks__item-date{
    font-size: 20px;
    color: #88817E;
}

.stocks__item-date-end{
    font-size: 20px;
    color: #7893F5;
}

.stocks__item-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stocks__list{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pagination-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #88817E;
    margin-right: 5px;
}

.pagination-btn.active {
    font-size: 25px;
    color: #000000;
}