/* home */

@media (max-width: 1500px) {
    .container {
        max-width: 1200px;
      }

      .services__inner-item {
        max-width: 250px;
        height: 190px;
        border-radius: 20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 16px;
        padding-bottom: 20px;
      }

      .services__item-box {
        margin-top: 20px;
        align-items: center;
      }
      
      .services__item-num {
        margin-right: 34px;
      }
      
      .services__item-img{
        width: 75px;
        height: 75px;
      }

      .services__inner {
        grid-template-columns: repeat(4, 24%);
        grid-template-rows: repeat(3, 212px);
      }

      .choice__item-title{
        font-size: 25px;
      }

      .choice__grid-list {
        grid-template-columns: repeat(2, 52%);
        grid-template-rows: repeat(4, 349px);
        justify-items: center;
    }

    .specialists__slider {
        width: 1100px;
    }

    .contacts__all {
        align-items: center;
        gap: 8px;
        justify-content: center;
    }

    .address__title {
        font-size: 25px;
    }

    .quantity__text, .quantity__title {
        max-width: 700px;
    }

    .appointment__title{
        font-size: 60px !important;
        max-width: none !important;
    }

    .appointment__inner{
        flex-direction: column;
        gap: 40px;
        align-items: center !important;
    }

}

@media (max-width: 1300px) {
    .container {
        max-width: 1100px;
      }

    .services {
        padding-top: 80px; 
    }

    .services__inner {
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: repeat(4, 215px);
        justify-items: center;
    }       

    .services__inner-item{
        max-width: 217px;
    }

    .contacts__all {
        flex-direction: column;
    }

    .contacts{
        padding-bottom: 70px;
    }

    .top__slider{
        width: 1000px;
        margin: 0 auto;
        padding-top: 20px;
        height: 600px;
    }

    .top__slider-item {
        justify-content: center;
    }

    .top__slider-img{
        width: 700px;
    }

    .top__slider-title{
        font-size: 35px;
    }

    .specialists__slider {
        width: 900px;
    }
    .quantity__inner {
        padding-left: 14%;
    }

    .logo_footer{
        width: 70px;
        height: 70px;
    }

    .top__slider-btn{
        width: 220px;
        padding: 20px;
        text-align: center;
    }

}

@media (max-width: 1050px) {
    .container {
        max-width: 800px;
    }

    .services__inner {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 222px);
        justify-items: center;
    }

    .services {
        padding-top: 0px; 
    }

    .services__inner-link{
        width: 250px;
    }

    .specialists__slider {
        width: 500px;
    }

    .top__slider{
        height: 500px;
        width: 750px;
    }

    .top__slider-img{
        width: 400px;
    }

    .top__slider-title{
        font-size: 30px;
    }

    .top__slider-btn{
        width: 160px;
        padding: 16px;
        font-size: 12px;
        text-align: center;
    }

    .top__slider-social{
        gap: 18px;
        margin-top: 45px;
    }

    .nav__list-item{
       font-size: 16px;
    }

    .logo__img{
        width: 60px;
        height: 60px;
    }

    .choice__item-img{
        display: none;
    }

    .choice__title {
        margin-bottom: 80px;
        font-size: 30px;
    }

    .choice__grid-list {
        grid-template-columns: repeat(2, 50%);
    }

    .specialists__slider {
        width: 600px;
    }

    .history__title{
        font-size: 60px !important;
    }

    .quantity__title{
        font-size: 80px;
        max-width: 500px;
    }

    .quantity__text{
        font-size: 60px;
        max-width: 500px;
    }

    .quantity__inner {
        padding-left: 24%;
    }

    .top__slider-social-img{
        width: 30px;
        height: 30px;
    }

    .contacts__map-iframe{
        width: 500px;
        height: 350px;
    }

    .contacts__address {
        margin-bottom: 30px;
    }

    .form__select, .personal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .order-btn {
        margin: 0 auto;
    }

    .top__slider-btn {
        width: 173px !important;
        padding: 23px;
        font-size: 14px;
    }

    .order__card {
        width: 496px !important;
    }

    .order__input {
        width: 280px !important;
    }

    .order__date-cvv {
        width: 50px !important;
    }
    
}

@media (max-width: 850px) {
    .container {
        max-width: 550px;
    }

    .top__slider-img, .nav__bottom, .bottom__confidentiality{
        display: none;
    }

    .bottom__social {
        gap: 30px;
    }

    .quantity__inner {
        padding-left: 11%;
    }

    .top__slider-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center
    }

    .top__slider-title {
        width: 170px;
        text-align: center;
        font-size: 26px;
    }

    .history__title{
        font-size: 40px !important;
    }

    .choice__grid-list {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 120px);
        justify-items: center;
    }
    
    .top__slider {
        height: 400px;
        width: 520px;
        margin-bottom: 80px;
    }

    .top__slider-social{
        margin-top: 30px;
    }

    .specialists__slider {
        width: 400px;
    }

    .header__btn {
        display: block;
      }
    
    .nav__list {
        display: none;
    }

    .rightside-menu__logo{
        display: block;
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center
    }

    .choice__item-text {
        display: none; 
        
    }

    .payment__item {
        width: 500px !important;
    }

    .appointment__title {
        font-size: 50px !important;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 450px;
    }

    .top__slider {
        width: 450px;
    }
    .services__inner {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(12, 222px);
        justify-items: center;
    }

    .specialists__slider, .contacts__map{
        display: none;
    }

    .nav{
        justify-content: space-around
    }

    .logo__img, .logo_footer{
        width: 45px;
        height: 45px;
    }

    .name__title{
        font-size: 40px;
    }

    .quantity__title{
        font-size: 55px;
    }

    .quantity__text{
        font-size: 45px;
    }
}

/* account */

@media (max-width: 1700px) {
    .container {
        max-width: 1350px;
    }

    .personal__card, .info__btn-add {
        width: 700px !important;
    }

    .info__btn-add {
        background-position: 50px !important;
    }

    .info__card-pet {
        flex: 0 0 682px !important;
    }

    .note__card {
        flex: 0 0 682px !important;
    }

    .account-container {
        max-width: 700px !important;
    }

    .info__card-img{
        width: 114px !important;
        height: 100px !important;
    }

    .account__bottom {
        gap: 84px !important;
    }

    .account__top {
        gap: 185px !important;
    }

    .analyzes__list-item {
        flex-direction: column;
    }

    .appointment__title{
        font-size: 50px !important;
        max-width: none;
    }

   .history__item-imgs{
       flex-direction: column;
   }
}


@media (max-width: 1350px) {
    .container {
        max-width: 1150px;
    }

    .cheque__list-item {
        width: 230px !important;
    }

    .account__top {
        gap: 0 !important;
    }

    .account__title{
        font-size: 50px !important;
    }

    .stocks__title{
        font-size: 64px !important;
    }
}

@media (max-width: 800px) {

    .container {
        max-width: 500px;
    }
    .personal__card {
        width: 500px !important;
        justify-content: flex-start;
        gap: 40px !important;
    }

    .info__btn-add {
        width: 500px !important;
        background-image: none !important;
        padding: 60px 40px;
    }

    .info__card-pet {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(1, 380px); 
        flex: 0 0 490px !important;
    }
      
    .info__card-pet > div:nth-child(3) { 
        grid-column: span 2; 
    }

    .info__card-health{
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around;
    }

    .info__medical-title{
        width: 200px;
        font-size: 20px;
    }

    .medical-card__file {
        align-items: flex-start;
    }

    .info__analyzes-title {
        margin-top: 0px !important;
    }

    .info__card-img {
        width: 130px !important;
        height: 130px !important;
    }

    .account__info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .analyzes__list-item {
        gap: 20px !important;
    }

    .analyzes__item-file {
        flex-direction: column;
    }

    .note__card {
        flex-direction: column;
        align-items: center
    }

    .note__card-info {
        align-items: center;
    }

    .note__card {
        flex: 0 0 490px !important;
    }

    .account__note{
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .account-container {
        max-width: 516px !important;
    }

    .stocks__item-img{
        width: 200px !important;
        height: 200px !important;
    }
}

/* appointment */

@media (max-width: 1150px) {
    .container {
        max-width: 900px;
      }

    .payment__item {
        width: 646px !important;
    }

    .account__top {
        gap: 90px !important;
        flex-direction: column;
        align-items: center;
    }

    .account__bottom {
        flex-direction: column;
        align-items: center;
    }

    .cheque__list-item {
        width: 350px !important;
    }

    .stocks__inner, .history__inner{
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }
}


@media (max-width: 500px) {
    .container {
        max-width: 300px;
      }

    .payment__item {
        width: 300px !important;
    }

    .appointment__title {
        font-size: 40px !important;
    }
}

/* order */

