.appointment{
    padding-bottom: 500px;
    padding-top: 75px;
}

.appointment__inner{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.payment{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.appointment__back{
    margin-bottom: 70px;
    position: relative;
    margin-left: 25px;
}

.appointment__back::before{
    content: '';
    position: absolute;
    background-image: url(../images/app-back.svg);
    top: 1px;
    left: -18px;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
}

.appointment__back:hover {
    color: #7893F5;
}

.payment__item-title{
    font-size: 20px;
    padding: 33px 32px;
}

.payment__item-price{
    font-size: 20px;
    padding-right: 32px;
}

.payment__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 85px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    cursor: pointer;
}

.payment__item:hover{
    border: solid 1px #000;
}

.appointment__title{
    font-size: 80px;
    max-width: 311px;
    font-weight: 400;
}


.order__inner{
    justify-content: space-between;
}

.payment__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

.personal__input{
    border-radius: 20px;
    padding: 16px 25px;
    width: 440px;
    font-size: 20px;
    color: #000;
    border: solid 1px #C3B9B5;
}

.order-area{
    width: 900px;
    height: 170px;
    border-radius: 20px;
    margin-bottom: 40px;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 130px;
    font-size: 20px;
    resize: none;
}

.personal__input:hover{
    border: solid 1px #000;
}

.personal__input::placeholder{
    font-size: 20px;
    color: #000;
}

.personal{
    display: flex;
    gap: 20px
}

.order-btn{
    margin-left: 300px;
}

.order__card{
    width: 900px;
    height: 300px;
    background: rgba(120, 147, 245, 0.45);
    border-radius: 16px;
    margin-bottom: 40px;
}

.order__card-top{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px
}

.order__top-left{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.order__top-right{
    display: flex;
    gap: 20px;
}