.service-therapy{
    padding-top: 80px;
}

.service-therapy__title{
    font-size: 80px;
   font-weight: 400;
   margin-bottom: 40px;

}

.service-therapy__info-title{
    margin-top: 55px;
    margin-bottom: 40px;
}

.service-therapy__inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.service-therapy__item-name{
    font-size: 24px;
    max-width: 260px;
}

.service-therapy__item-date{
    font-size: 20px;
    margin-top: 10px;
}

.service-therapy__item{
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-therapy__item:hover{
    color: #7893F5;
}

.service-therapy__slider-item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 350px;
    height: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.service-therapy__allservices-item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 350px;
    height: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.service-therapy__info-part{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 40px;
    width: 900px;
}

.service-therapy__part-img{
    margin-bottom: 30px;
}

.service-therapy__part-title{
    font-size: 30px;
    margin-bottom: 40px;
}

.service-therapy__part-title:nth-child(1){
    margin-top: 60px;
}

.service-therapy__part-text{
    margin-bottom: 20px;
}

.service-therapy__price{
    margin-bottom: 40px;
}

.service-therapy__price-title{
    font-size: 30px;
    margin-bottom: 30px;
}

.service-therapy__price-text{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
}

.service-therapy__services-title{
    margin-bottom: 40px;
    /* margin-left: -124px; */
}

.service-therapy__all{
    width: 320px;
    height: 200px;
    background-color: #FFF;
}

.service-therapy__item-title{
    font-size: 30px;
    font-weight: 400;
}

.service-therapy__item-img{
    margin-left: 160px;
}

.service-therapy__allservices{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDE9E8;
    padding-bottom: 100px;
    padding-top: 50px;
}

.service-therapy__slider-item:hover{
    background-color: #7893F5;
    color: #FFF;
}

.service-therapy__price-item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 14px;
    border-radius: 15px;
}

.service-therapy__price-item:nth-child(odd){
    background-color: #EDE9E8;
}