.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 30px;
	line-height: 1;
	color: lightgrey;
}

.rating-mini > span.active {
	color: #7893F5;
}

.feedback__rating-date{
	margin-bottom: 20px;
}

.feedback__foto-img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
}